
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update student details page</title>

<link rel="stylesheet" href="{% static "stylesheet/style.css" %}"/>

</head>
<body>
<br bgcolor="yellow">
<h1>Hello, Welcome to update admission page</h1>

<img src="{% static "image/image.jpg.webp" %}" alt="Image Not Found"/>
<h3>please fill below application form</h3><br>
<form method="POST">
<table>
    {{form.as_table}}
</table>

<br/>
<input type='submit' value="update student">

{%csrf_token%}
</form>
</body>
</html>